In [48]:
from kasir1 import Transaction

In [57]:
# Membuat objek dari class Transaction dengan ID trnsct123
trnsct123 = Transaction()

# Menambahkan beberapa item ke transaksi trnsct123 menggunakan method add_item()
trnsct123.add_item("tempe", 2, 3000)
trnsct123.add_item("mobil", 1, 100000)
trnsct123.add_item("susu", 3, 9000)

Item yang Anda beli adalah:
| No | Nama Item | Jumlah Item | Harga/Item | Total Harga
| 1 | tempe | 2 | 3000.0 | 6000
Item yang Anda beli adalah:
| No | Nama Item | Jumlah Item | Harga/Item | Total Harga
| 1 | tempe | 2 | 3000.0 | 6000
| 2 | mobil | 1 | 100000.0 | 100000
Item yang Anda beli adalah:
| No | Nama Item | Jumlah Item | Harga/Item | Total Harga
| 1 | tempe | 2 | 3000.0 | 6000
| 2 | mobil | 1 | 100000.0 | 100000
| 3 | susu | 3 | 9000.0 | 27000

In [58]:
trnsct123.delete_item('susu')

| No | Nama Item | Jumlah Item | Harga/Item | Total Harga
| 1 | tempe | 2 | 3000.0 | 6000
| 2 | mobil | 1 | 100000.0 | 100000

In [59]:
trnsct123.total_price()

Total belanja: 106000
Diskon: 0%
Total belanja setelah diskon: 106000